extends layout.pug

block content
  main.intro
    div.intro_wrapper
      p Feedbacker
      p Your personal feedback book!
      p Thousands of feedbacks from all over the world
      a(href="feedbacks/create-feedback" class="create-feedback-btn") Add a Feedback