html
  head
    title 00010554
    link(rel='stylesheet', href='/style.css')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap")
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")

  body
    include includes/navbar
    
    block content

    footer 
      div.contacts 
        a(href="#")
          <i class="fab fa-github"></i>
        a(href="#")  
          <i class="fas fa-globe"></i>
        a(href="#")  
          <i class="fab fa-facebook"></i>
      p.id 00010554
      div.disclaimer
        p This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service

    script(src='https://cdn.jsdelivr.net/npm/marked/marked.min.js')